<div class="card">
    <h2 [ngStyle]="{
        color: title.length < 7? 'red' : 'blue',
        fontWeight: title.length < 4? 'bold': 'normal'
    }">{{ title }}</h2>


    <!-- <p class="text" [ngClass]="{
            blue: textColor === 'blue',
            green: textColor === 'green',
            red: textColor === 'red'
    }">{{ text }}</p> -->

    <p
        class="text" 
        [class.blue]="textColor === 'blue'"
        [class.red]="textColor === 'red'"
        [class.green]="textColor === 'green'"
    >{{ text }}</p>

    <div class="buttons">
        <button (click)="textColor = 'blue'">Set Blue</button>
        <button (click)="textColor = 'green'">Set Green</button>
        <button (click)="textColor = 'red'">Set Red</button>
    </div>

    <div class="buttons">
        <button (click)="changeTitle()">Change title</button>
        <button (click)="title ='Inline title'">Change Inline Title</button>
    </div>

    <!-- <div>
        <input type="text" #myInput (input)="inputHandler(myInput.value)" [value]="title">
    </div> -->

    <div>
        <input type="text" [(ngModel)]="title" (ngModelChange)="changeHandler()">
    </div>
</div>