<div class="card">
    <h2 [ngStyle]="{
        color: title.length < 7? 'red' : 'blue',
        fontWeight: title.length < 4? 'bold': 'normal'
    }">{{ title }}</h2>
    <p>{{ text }}</p>

    <div class="buttons">
        <button (click)="changeTitle()">Change title</button>
        <button (click)="title ='Inline title'">Change Inline Title</button>
    </div>

    <!-- <div>
        <input type="text" #myInput (input)="inputHandler(myInput.value)" [value]="title">
    </div> -->

    <div>
        <input type="text" [(ngModel)]="title" (ngModelChange)="changeHandler()">
    </div>
</div>