<div class="container">
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Alias</th>
                <th>Location</th>
                <th>Equipment</th>
                <th>SuperPower</th>
                <th>Email</th>
                <th>Phone</th>
            </tr>
        </thead>
    
        <tbody>
            <tr *ngFor="let hero of heroes">
                <td><span >{{ hero.id }}</span></td>
                <td><span >{{ hero.name }}</span></td>
                <td><span >{{ hero.alias }}</span></td>
                <td><span >{{ hero.location }}</span></td>
                <td><span >{{ hero.equipment }}</span></td>
                <td><span >{{ hero.superPower }}</span></td>
                <td><span >{{ hero.mail }}</span></td>
                <td><span >{{ hero.phone }}</span></td>
                <th style="border: none;"><button (click)="remove(hero)" class="btn"> Delete</button></th>
            </tr>
        </tbody>
    </table>
</div>