<div class="container">
    <form
        class="form-group"
        [formGroup]="profileForm"
        (ngSubmit)="onSubmit()"
    >
        <label for="name">Your name: </label>
        <input id="name" type="text" formControlName="name">

        <label for="alias">Your alias: </label>
        <input id="alias" type="text" formControlName="alias">

        <label for="location">Your location: </label>
        <select id="location">
            <option>Пункт 1</option>
            <option>Пункт 2</option>
        </select>

        <label for="equipment">Your base equipment: </label>
        <p id="equipment">asdasda</p>

        <label for="superPower">Your super power: </label>
        <input id="superPower" type="text" formControlName="superPower">

        <div class="form-group" formGroupName="contact">
            <h3>Contact</h3>
            
            <label for="mail">Email: </label>
            <input id="mail" type="text" formControlName="mail">
            
            <label for="phone">Phone number: </label>
            <input id="phone" type="text" formControlName="phone">

        </div>

        <button class="btn " type="submit" [disabled]="!profileForm.valid">Submit</button>
    </form>
    
        
</div>