<div class="container">
    <form
        class="form-group"
        [formGroup]="profileForm"
        (ngSubmit)="onSubmit()"
    >
        <label for="name">Your name: </label>
        <input id="name" type="text" formControlName="name" autocomplete="off">

        <label for="alias">Your alias: </label>
        <input id="alias" type="text" formControlName="alias" autocomplete="off">

        <label for="location">Your location: </label>
        <select formControlName="location" autocomplete="off">
            <option label="--select your location--"></option>
            <option *ngFor="let location of locations" [value]="location" >{{ location }}</option>
        </select>

        <label for="equipment">Your base equipment: </label>
        <p id="equipment">{{ profileForm.get('equipment')?.value }}</p>

        <label for="superPower">Your super power: </label>
        <input list="superPower" type="text" formControlName="superPower" autocomplete="off"/>
        <datalist id="superPower" > 
            <option *ngFor="let superPower of superPowers" [value]="superPower" >{{ superPower }}</option>
        </datalist>

        <div class="form-group" formGroupName="contact">
            <h3>Contact</h3>
            
            <label for="mail">Email: </label>
            <input id="mail" type="mail" formControlName="mail" autocomplete="off">
            
            <label for="phone">Phone number: </label>
            <input id="phone" type="number" formControlName="phone" autocomplete="off">

        </div>

        <button class="btn " type="submit" [disabled]="!profileForm.valid">Submit</button>
    </form>
    
        
</div>