<section>
    <header>
        Organizer: <strong>jgoshnfgoshn</strong>
    <hr />
    </header>
    
    
    <main>
        <ul>
            <li class="task">
                <span>
                    <strong>1</strong>
                    asdasdasada
                </span>
                <button class="btn btn-primary">Remove</button>
            </li>
        </ul>
    </main>

    <footer>
        <form>
            <div style="display: flex;">
                <input type="text">
            </div>
            <button
                type="submit"
                class="btn btn-primary btn-block"
            >Add</button>
        </form>
    </footer>
</section>