.navBar {
    height: 50px;
    background-color: rgba(166, 182, 182, 0.733);
    box-shadow: 2px 2px 4px gray;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.title {

}

.navBar__btns {
    margin-left: auto;
    
    button {
        display: (inline-block);
        background: var(--light-color);
        padding: .4rem 0.5rem;
        font-size: 0.8rem;
        border: none;
        cursor: pointer;
        margin-right: .5rem;
        transition: opacity .2s;
        outline: none;
        box-shadow: 1px 1px 3px gray;
    
        &:hover:not(:disabled) {
            opacity: .8;
        }
    }
}

