<div class="navBar">
    <div class="title">Angular practice</div>
    <div class="navBar__btns">
        <button routerLink="/cards" routerLinkActive="active">Cards</button>
        <button routerLink="/diary" routerLinkActive="active">Diary</button>
        <button routerLink="/form" routerLinkActive="active">Form</button>
        <button routerLink="/heroTable" routerLinkActive="active">Table</button>
        <button routerLink="/heroTable/Adm" routerLinkActive="active">Table Adm</button>
    </div>

</div>